1. Complete function Create new customer
  -
2. Complete function Delete 01 customer => need modal show info
  - Have a confirmation modal

3. Complete function Edit customer => need update button close => restore data

4. Upgrade UI for dob
  - datetime picker (angular feature)
  - it prevents the user from keying in incorrect data

5. Upgrade logic: validate input : create / edit customer
    - It needs better logic when certain text are entered (Client and server)
    - Invalid !@#$ characters
    - Max length, Min length, Empty
    - Incorrect data type
