
@{
                /**/

                ViewBag.Title = "Angular";
}

<script src="~/StudentClient.js"></script>


<h2>Angular</h2>

<div ng-app="StudentApp" class="row">
    <div ng-controller="StudentController">
        {{message}}
    </div>

    k
    <p>
        {{name}}
    </p>
</div>


